
body {
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 90vh; 
    background: #f0f0f0; 
    margin: 0; 
    font-family: Arial, sans-serif; 
    font-family: 'Courier New', Courier, monospace; 
}

#game { 
    display: grid; 
    grid-template-columns: repeat(3, 90px);
    grid-template-rows: repeat(3, 90px);
    gap: 10px;
}

.cell {
    width: 90px; 
    height: 90px;
    background: #666666;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-size: 2em;
    cursor: pointer;
}

.winning-message { 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.winning-message button {
    margin-top: 20px;
}

.x {
    background-color: red;
}

.O {
    background-color: blue;
}