<p class="text" id="estilo" style="color:red">CSS é Legal!!

 <style>
    .text {
        color: blue;
    }
     #estilo {
        color: yellow;
    }
     body p {
        color: green;
    }      
</style>